@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 300 700;
  font-display: swap;
  src: url(./CormorantGaramond-latin.woff2) format('woff2');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url(./Montserrat-latin.woff2) format('woff2');
}
